{% extends 'base.html.twig' %}

{% block body %}
<div class="jumbotron">
    <span class="btn btn-info btn-lg btn-block">
        <h1>Cart</h1>
    </span>

    <br/><br/>

    {% for addInCart in addsInCart %}
        {% if addInCart.isRefused == 0 %}
        <h3>
            <div class="badge badge-success">
                Product: {{ addInCart.getProduct().getName() }}
            </div>
            <br/>
            <div class="badge badge-success">
                On price {{ addInCart.getproduct().getPrice() }} {{ addInCart.getProduct().getCurrency() }} per {{ addInCart.getProduct().getUnit() }}
            </div>
            <br/>
            <div class="badge badge-success">
                Quantity: {{ addInCart.getQuantity() }} {{ addInCart.getProduct().getUnit() }}
            </div>
            <br/>
            <div class="badge badge-success">
                Value: {{ addInCart.getPrice() }} {{ addInCart.getProduct().getCurrency }}
            </div>
            <br/>
            <a href="{{ path('refuse_row', { 'id': addInCart.id }) }}">
                <button type="button" class="btn btn-danger">
                    Remove from cart
                </button>
            </a>

        </h3>
        <br/><br/>

    {% endif %}

    {% endfor %}

    <h2>
        <div class="badge badge-primary">
            Total {{ cartBill }} {{ userCurrency }}
        </div>
    </h2>
</div>
{% endblock %}
