{% extends 'base.html.twig' %}

{% block body %}
<div class="jumbotron">
    <span class="btn btn-info btn-lg btn-block">
        <h1>Cart</h1>
    </span>

    <br/><br/>

    {% for addInCart in addsInCart %}
        {% if addInCart.isBought != 1 %}
        <h3>
            <div class="badge badge-success">
                Product: {{ addInCart.getProduct().getName() }}
            </div>
            <br/>
            <div class="badge badge-success">
                On price {{ addInCart.getproduct().getPrice() }} {{ addInCart.getProduct().getCurrency() }} per {{ addInCart.getProduct().getUnit() }}
            </div>
            <br/>
            <div class="badge badge-success">
                Quantity: {{ addInCart.getQuantity() }} {{ addInCart.getProduct().getUnit() }}
            </div>
            <br/>
            {% if addInCart.isInPromotion %}
                <div class="badge badge-warning">
                    We provide for you promotion price: {{ addInCart.getPrice() }} {{ app.getUser().getUserProfile().getCurrency }}
                </div>
            {% else %}
                <div class="badge badge-success">
                    Value: {{ addInCart.getPrice() }} {{ addInCart.getProduct().getCurrency }}
                </div>
            {% endif %}
            <br/>
            {% if addInCart.isRefused == 0 %}
            <a href="{{ path('return_refuse_row', { 'id': addInCart.id }) }}">
                <button type="button" class="btn btn-info">
                    Refuse this product
                </button>
            </a>
            {% else %}
            <a href="{{ path('return_refuse_row', { 'id': addInCart.id }) }}">
                <button type="button" class="btn btn-primary">
                    Return this product
                </button>
            </a>
            {% endif %}
        </h3>
        <br/><br/>

    {% endif %}

    {% endfor %}

    <h2>
        <div class="badge badge-primary">
            Total {{ cartBill }} {{ userCurrency }}
        </div>
        <a href="{{ path('buy_product_cart') }}">
            <button class="badge badge-primary">
                Buy
            </button>
        </a>
    </h2>
</div>
{% endblock %}
