{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
    <span class="btn btn-info btn-lg btn-block">
        <h1>Promotion</h1>
    </span>
        <br/>
        <h1>
            <span class="badge badge-warning">
                {{ promotion.percentsDiscount }}% Discount
            </span>
        </h1>
        <h2>
            <span class="badge badge-success">
                {{ promotion.name }}
            </span>
        </h2>

        <h2>
            <span class="badge badge-success">
                {{ promotion.description }}
            </span>
        </h2>
        <h2>
            <span class="badge badge-primary">
                Starts on: {{ promotion.startDate|date('Y-m-d H:i:s') }}
            </span>
        </h2>
        <h2>
            <span class="badge badge-primary">
                Applies to: {{ promotion.endDate|date('Y-m-d H:i:s') }}
            </span>
        </h2>
        <br/>
        <a href="{{ path('promotion_index') }}">
            <button type="button" class="btn btn-info">
                Show all promotions
            </button>
        </a>
        <br/><br/>

        {% if app.getUser() and (app.getUser().isAdmin() or app.getUser().isSuperAdmin()) %}
            <a href="{{ path('promotion_edit', { 'id': promotion.id }) }}">
                <button class="btn btn-danger">
                    Edit
                </button>
            </a>
            <br/><br/>
            {{ form_start(delete_form) }}
            <input class="btn btn-danger" type="submit" value="Delete">
            {{ form_end(delete_form) }}
        {% endif %}
    </div>
{% endblock %}
