{% extends 'base.html.twig' %}

{% block body %}
<div class="jumbotron">
    <span class="btn btn-info btn-lg btn-block">
        <h1>User profile edit</h1>
    </span>
    <br/>

    {{ form_start(edit_form) }}
    <label>Cash:</label>
    <div class="form-group">
        {{ form_row(edit_form.cash) }}
    </div>
    <label>Include sell products functionality:</label>
    <div class="form-group">
        {{ form_row(edit_form.isSeller) }}
    </div>
    <label>Currencies:</label>
    <div class="form-group">
        {{ form_row(edit_form.currency) }}
    </div>
    <input type="submit" class="btn btn-primary" value="Edit" />
    <a href="{{ path('userprofile_show') }}">
        <button type="button" class="btn btn-info">
            cancel
        </button>
    </a>
    {{ form_end(edit_form) }}
    <br/><br/>
    <a href="{{ path('userprofile_index') }}">
        <button type="button" class="btn btn-info">
            Show all users
        </button>
    </a>
</div>
{% endblock %}
