{% extends 'base.html.twig' %}

{% block body %}
<div class="jumbotron">
    <span class="btn btn-info btn-lg btn-block">
    <h1>
        Hello {{ userProfile.getUser().getFirstName() }} {{ userProfile.getUser().getLastName() }}
    </h1>
    </span>

    <br/>
    <img src="{{ asset('uploads/images/' ~ userProfile.image) }}" alt="" width="200" class="img-thumbnail"/>

    <br/><br/>

    <h2>
        <span class="badge badge-warning">
            Cash: {{ userProfile.cash }} {{ userProfile.currency }}
        </span>
    </h2>
    <h2>
        <span class="badge badge-primary">
            Rating: {{ userProfile.rating }}
        </span>
    </h2>
    <h2>
        <span class="badge badge-secondary">
            Purchases count: {{ userProfile.purchaseCount }}
        </span>
    </h2>
    <h2>
        <span class="badge badge-secondary">
            Purchases value: {{ userProfile.purchasesValue }} {{ userProfile.currency }}
        </span>
    </h2>
    <h3>
        <a href="{{ path('user_purchases_view') }}">
            <button type="button" class="btn btn-secondary">
                View purchases:
            </button>
        </a>
    </h3>
    {% if userProfile.isSeller %}
        <h2>
            <span class="badge badge-info">
                Buyer and seller
            </span>
        </h2>
        <h2>
            <span class="badge badge-secondary">
                Sales count: {{ userProfile.salesCount }}
            </span>
        </h2>
        <h2>
            <span class="badge badge-secondary">
                Sales value: {{ userProfile.salesValue }} {{ userProfile.currency }}
            </span>
        </h2>
    {% else %}
        <h2>
            <span class="badge badge-info">
                Only buyer
            </span>
        </h2>
    {% endif %}

    <br/><br/>

    <a href="{{ path('userprofile_index') }}">
        <button type="button" class="btn btn-success">
            Show all users
        </button>
    </a>
    <a href="{{ path('userprofile_edit') }}">
        <button type="button" class="btn btn-danger">
            Edit profile
        </button>
    </a>
    <a href="{{ path('user_show') }}">
        <button type="button" class="btn btn-info">
            Show account
        </button>
    </a>
</div>
{% endblock %}
