{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <span class="btn btn-info btn-lg btn-block">
            <h1>Edit category</h1>
        </span>
        <br/>

        {{ form_start(edit_form, {'attr': {'novalidate': 'novalidate'}}) }}
        <label>Category name:</label>
        <div class="form-group">
            {{ form_row(edit_form.name) }}
        </div>
        <label>Category description:</label>
        <div class="form-group">
            {{ form_row(edit_form.description) }}
        </div>
        <label>Parent category:</label>
        <div class="form-group">
            {{ form_row(edit_form.parent) }}
        </div>
        <input type="submit" class="btn btn-danger" value="Edit" />
        {{ form_end(edit_form) }}

        <a href="{{ path('category_index') }}">
            <button type="button" class="btn btn-success">
                Show all category
            </button>
        </a>
    </div>
{% endblock %}
