{% extends 'base.html.twig' %}


{% block body %}
<div class="jumbotron">
    <span class="btn btn-info btn-lg btn-block">
        <h1>Category</h1>
    </span>
    <br/>

    <h1>
        <span class="badge badge-secondary">{{ category.name }}</span> : <span class="badge badge-secondary">{{ category.description }}</span>
    </h1>

    <a href="{{ path('category_index') }}">
        <button type="button" class="btn btn-success">
            Back to the list
        </button>
    </a>

    {% if app.getUser().isAdmin() %}
        <a href="{{ path('category_edit', { 'id': category.id }) }}">
            <button type="button" class="btn btn-danger">
                Edit
            </button></a>
        <br/><br/>
        {{ form_start(delete_form) }}
        <input type="submit" class="btn btn-danger" value="Delete">
        {{ form_end(delete_form) }}
    {% endif %}
</div>
{% endblock %}
