{% extends 'base.html.twig' %}


{% block body %}
<div class="jumbotron">
    {% if allCategories %}
        <span class="btn btn-info btn-lg btn-block">
            <h1>Subcategories</h1>
        </span>
        {% for cat in allCategories %}
        {% if cat.parent == category %}
        <h3>
            <a href="{{ path('category_show', { 'id': cat.id }) }}">
            <span class="badge badge-primary">
                {{ cat.name }}
            </span>
            </a>
        </h3>
        {% endif %}
        {% endfor %}
    {% endif %}
    <span class="btn btn-info btn-lg btn-block">
        <h1>Products by category</h1>
    </span>
    <br/>

    <h1>
        <span class="badge badge-secondary">Category: {{ category.name }} ({{ category.description }})</span>
    </h1>
    {% for product in category.getProducts %}
        {% if product.availability %}
            <h3>
                <a href="{{ path('product_show', { 'id': product.id }) }}">
                <span class="badge badge-primary">
                    {{ product.name}}
                </span> </a>
            </h3>
        {% endif %}
    {% endfor %}
    <a href="{{ path('category_index') }}">
        <button type="button" class="btn btn-success">
            Back to the list
        </button>
    </a>


    {% if app.getUser() and (app.getUser().isAdmin() or app.getUser().isSuperAdmin())  %}
        <a href="{{ path('category_edit', { 'id': category.id }) }}">
            <button type="button" class="btn btn-danger">
                Edit
            </button></a>
        <br/><br/>
        {{ form_start(delete_form) }}
        <input type="submit" class="btn btn-danger" value="Delete">
        {{ form_end(delete_form) }}
    {% endif %}
</div>
{% endblock %}
