<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
            <link rel="stylesheet" href="{{ asset('css/bootstrap-grid.css') }}">
            <link rel="stylesheet" href="{{ asset('css/bootstrap-reboot.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% endblock %}

    </head>
    <body>
        {% block header%}
            <header>
                <ul class="navbar navbar-light list-unstyled" style="background-color: #e3f2fd;">
                    {% if app.getUser() %}
                        <h5 class="text-primary">
                            Hello {{ app.getUser().getFirstName }} {{ app.getUser().getLastName }}!
                            <img src="{{ asset('uploads/images/' ~ app.GetUser().userProfile.image) }}" alt="" width="50" class="img-thumbnail"/>
                        </h5>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link btn btn-primary" href="{{ path('category_index') }}">
                            <button type="button" class="btn btn-primary">
                                Marketplace
                            </button>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-primary" href="{{ path('homepage') }}">
                            <button type="button" class="btn btn-primary">
                                Home
                            </button>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-primary" href="{{ path('product_index') }}">
                            <button type="button" class="btn btn-primary">
                                All products
                            </button>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-primary" href="{{ path('promotion_index') }}">
                            <button type="button" class="btn btn-primary">
                                Promotions
                            </button>
                        </a>
                    </li>
                    {% if app.user %}
                        <li class="nav-item">
                            <a class="nav-link btn btn-primary" href="{{ path('cart_show') }}">
                                <button type="button" class="btn btn-primary">
                                    My cart
                                </button>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-success" href="{{ path('userprofile_show')}}">
                                <button type="button" class="btn btn-success">
                                    My profile
                                </button>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-success" href="{{ path('userprofile_index') }}">
                                <button type="button" class="btn btn-success">
                                    All Users
                                </button>
                            </a>
                        </li>

                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link btn btn-success" href="{{ path('instruction_show', { 'id': 1 }) }}">
                            <button type="button" class="btn btn-success">
                                How to use Marketplace
                            </button>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-success" href="{{ path('contact_new') }}">
                            <button type="button" class="btn btn-success">
                                Contact
                            </button>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-success" href="{{ path('promotion_index')}}">
                            <button type="button" class="btn btn-success">
                                Promotions
                            </button>
                        </a>
                    </li>
                    {% if app.user %}
                        <li class="nav-item">
                            <a class="nav-link btn btn-secondary" href="{{ path('security_logout') }}">
                                <button type="button" class="btn btn-secondary">
                                    Logout
                                </button>
                            </a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link btn btn-success" href="{{ path('register_user') }}">
                                <button type="button" class="btn btn-success">
                                    Register
                                </button>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-success" href="{{ path('security_login') }}">
                                <button type="button" class="btn btn-success">
                                    Login
                                </button>
                            </a>
                        </li>
                    {% endif %}
                </ul>
                {% if app.getUser() and (app.getUser().isAdmin() or app.getUser().isSuperAdmin())  %}
                    <ul class="navbar navbar-light list-unstyled" style="background-color: #e3f2fd;">
                        <li class="nav-item">
                            <h5 class="text-primary">
                                {% if app.getUser().isAdmin() %}
                                    Hello Editor!
                                {% endif %}
                                {% if app.getUser().isSuperAdmin() %}
                                    Hello Admin!
                                {% endif %}
                            </h5>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-success" href="{{ path('instruction_show', { 'id': 2 }) }}">
                                <button type="button" class="btn btn-success">
                                    Instructions
                                </button>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-primary" href="{{ path('category_new') }}">
                                <button type="button" class="btn btn-primary">
                                    Add category
                                </button>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-primary" href="{{ path('product_new') }}">
                                <button type="button" class="btn btn-primary">
                                    Add product
                                </button>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-primary" href="{{ path('choose_type_new_promotion') }}">
                                <button type="button" class="btn btn-primary">
                                    Add promotion
                                </button>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-success" href="{{ path('all_products_admin') }}">
                                <button type="button" class="btn btn-success">
                                    All products
                                </button>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-success" href="{{ path('comment_index') }}">
                                <button type="button" class="btn btn-success">
                                    All comments
                                </button>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-success" href="{{ path('contact_index') }}">
                                <button type="button" class="btn btn-success">
                                    View contact messages
                                </button>
                            </a>
                        </li>
                    </ul>
                {% endif %}
                {% if app.getUser() and app.getUser().isSuperAdmin() %}
                    <ul class="navbar navbar-light list-unstyled" style="background-color: #e3f2fd;">
                        <li class="nav-item">
                            <h5 class="text-primary">
                                Admin panel
                            </h5>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-success" href="{{ path('instruction_index') }}">
                                <button type="button" class="btn btn-success">
                                    View instructions
                                </button>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-success" href="{{ path('setting_index') }}">
                                <button type="button" class="btn btn-success">
                                    View settings
                                </button>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-success" href="{{ path('admin_all_users_view') }}">
                                <button type="button" class="btn btn-success">
                                    View users
                                </button>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-danger" href="{{ path('currency_new') }}">
                                <button type="button" class="btn btn-danger">
                                    Add currency
                                </button>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-danger" href="{{ path('setting_new') }}">
                                <button type="button" class="btn btn-danger">
                                    Add setting
                                </button>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-danger" href="{{ path('instruction_new') }}">
                                <button type="button" class="btn btn-danger">
                                    Add instruction
                                </button>
                            </a>
                        </li>
                    </ul>
                {% endif %}
            </header>
        {% endblock %}

        {% block body %}
        {% endblock %}

        {% block footer %}
            <footer>
                <div class="footer">
                    <p>&copy; 2017 - Marketplace</p>
                </div>
            </footer>
        {% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/jquery-2.2.4.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
{% endblock %}

    </body>
</html>
