{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
    <span class="btn btn-info btn-lg btn-block">
        <h1>Edit product</h1>
    </span>
        <br/>

        {{ form_start(edit_form) }}
        <label>Name:</label>
        <div class="form-group">
            {{ form_row(edit_form.name) }}
        </div>
        <label>Description:</label>
        <div class="form-group">
            {{ form_row(edit_form.description) }}
        </div>
        <label>Price:</label>
        <div class="form-group">
            {{ form_row(edit_form.price) }}
        </div>
        <label>Currency:</label>
        <div class="form-group">
            {{ form_row(edit_form.currency) }}
        </div>
        <label>Category:</label>
        <div class="form-group">
            {{ form_row(edit_form.categories) }}
        </div>
        <label>Availability:</label>
        <div class="form-group">
            {{ form_row(edit_form.availability) }}
        </div>
        <label>Quantity:</label>
        <div class="form-group">
            {{ form_row(edit_form.quantity) }}
        </div>
        <label>Brand:</label>
        <div class="form-group">
            {{ form_row(edit_form.brand) }}
        </div>
        <label>Model:</label>
        <div class="form-group">
            {{ form_row(edit_form.model) }}
        </div>
        <label>Is the product in promotion:</label>
        <div class="form-group">
            {{ form_row(edit_form.isInPromotion) }}
        </div>
        <input type="submit" class="btn btn-primary" value="Edit" />

        {{ form_end(edit_form) }}

        <a href="{{ path('product_index') }}">
            <button type="button" class="btn btn-success">
                Show the list
            </button>
        </a>
    </div>
{% endblock %}
