{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
    <span class="btn btn-info btn-lg btn-block">
        <h1>Product of category
            {% for category in product.categories %}
                {{ category }}
            {% endfor %}
        </h1>
    </span>
        <br/>
        <h1>
            <span class="badge badge-warning">
                {{ product.name }}
            </span>
        </h1>
        <h2>
            <a href="{{ path('userprofile_public_show') }}">
                <span class="badge badge-primary">
                    Sold by: {{ product.getUser.getFirstName() }} {{ product.getUser.getLastName() }}
                </span>
            </a>
        </h2>
        <h3>
            <span class="badge badge-secondary">
                {{ product.description }}
            </span>
        </h3>
        <h2>
            <span class="badge badge-primary">
                {{ product.price }} {{ product.currency }}
            </span>
        </h2>
        {% if product.availability %}
            <span class="badge badge-secondary">
                Availability: {{ product.quantity }}
            </span>
            {% else %}
                <span class="badge badge-secondary">
                    Now there is not availability of this product.
                </span>
        {% endif %}

        <h4>
            {% if product.brand != null %}
            <span class="badge badge-secondary">
                By {{ product.brand }}
            </span>
            {% endif %}
            {% if product.model != null %}
            <span class="badge badge-secondary">
                {{ product.model }}
            </span>
            {% endif %}
        </h4>

        {% if product.isInPromotion %}

        {% endif %}

        <br/><br/>

        <a href="{{ path('product_index') }}">
            <button type="button" class="btn btn-success">
                Show all products
            </button>
        </a>

        {% if app.getUser() and (app.getUser().isAdmin() or app.getUser().isSuperAdmin()) %}
            <a href="{{ path('product_edit', { 'id': product.id }) }}">
                <button type="button" class="btn btn-danger">
                    Edit
                </button></a>
            <br/><br/>
            {{ form_start(delete_form) }}
            <input type="submit" class="btn btn-danger" value="Delete">
            {{ form_end(delete_form) }}
        {% endif %}
    </div>
{% endblock %}
