{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
    <span class="btn btn-info btn-lg btn-block">
        <h1>Product of category
            {% for category in product.categories %}
                {{ category }}
            {% endfor %}
        </h1>
    </span>
        <br/>
        <img src="{{ asset('uploads/images/' ~ product.image) }}" alt="" width="700" class="img-thumbnail"/>
        <h1>
            <span class="badge badge-success">
                {{ product.name }}
            </span>
        </h1>
        {% if bestPromotion %}
            <h1>
                <span class="badge badge-warning">
                    There is {{ bestPromotion.getPercentsDiscount }}% discount for this product!
                </span>
                <span class="badge badge-warning">
                    The price which we can offer you is  {{reducedPrice}} {{ product.getCurrency }} per {{ product.getUnit }}!
                </span>
            </h1>
        {% else %}
            <h3>
               <span class="badge badge-warning">
                   <p>In this moment we can't offer you any promotion for this product.</p>
                   <p>Inform yourself in a timely manner for our promotions.</p>
               </span>
            </h3>
        {% endif %}
        <h2>
            <a href="{{ path('userprofile_public_show') }}">
                <span class="badge badge-primary">
                    Sold by: {{ product.getUser.getFirstName() }} {{ product.getUser.getLastName() }} with rating {{ product.getUser.userProfile.rating }}
                </span>
                <img src="{{ asset('uploads/images/' ~ product.user.userProfile.image) }}" alt="" width="50" class="img-thumbnail"/>
            </a>

        </h2>
        <h3>
            <span class="badge badge-secondary">
                {{ product.description }}
            </span>
        </h3>
        <h2>
            <span class="badge badge-primary">
                {{ product.price }} {{ product.currency }} per {{ product.unit }}
            </span>
        </h2>
        {% if product.availability %}
            <span class="badge badge-secondary">
                Availability: {{ product.quantity }}
            </span>
            {% else %}
                <span class="badge badge-secondary">
                    Now there is not availability of this product.
                </span>
        {% endif %}
        <h4>
            {% if product.brand != null %}
            <span class="badge badge-secondary">
                By {{ product.brand }}
            </span>
            {% endif %}
            {% if product.model != null %}
            <span class="badge badge-secondary">
                {{ product.model }}
            </span>
            {% endif %}
        </h4>

        <br/><br/>

        <form action="{{ path('cart_add_product', { 'id': product.id }) }}">
            <label class="badge badge-secondary">
                Chose quantity:
            </label>
        <input name="productQuantity" type="number" min="0">
            <br/>
            <input type="submit" class="btn btn-primary" value="Add to cart">
        </form>

        <br/><br/>

        <a href="{{ path('product_index') }}">
            <button type="button" class="btn btn-success">
                Show all products
            </button>
        </a>

        {% if app.getUser() and (app.getUser().isAdmin() or app.getUser().isSuperAdmin()) %}
            <a href="{{ path('product_edit', { 'id': product.id }) }}">
                <button type="button" class="btn btn-danger">
                    Edit
                </button>
            </a>
            <a href="{{ path('remove_from_sale', { 'id': product.id }) }}">
                <button type="button" class="btn btn-danger">
                    Remove from sale
                </button>
            </a>
            <br/><br/>
            {{ form_start(delete_form) }}
            <input type="submit" class="btn btn-danger" value="Delete">
            {{ form_end(delete_form) }}
        {% endif %}
    </div>
        <h2>
            <span class="badge badge-info">
                Comments:
            </span>
        </h2>
        <div class="container body-content">
            <div class="row">
            {% for comment in product.comments %}
                <div class="container">
                    <div class="jumbotron">
                        <h5>
                            <span class="badge badge-info">
                                {{ comment.user.firstName }} {{ comment.user.lastName }}:
                            </span>
                        </h5>
                        <h5>
                            <span class="badge badge-info">
                                 {{ comment.content }}
                            </span>
                        </h5>
                        {% if app.getUser() and (app.getUser().isAdmin() or app.getUser().isSuperAdmin())  %}
                            <a href="{{ path('comment_edit', { 'id': comment.id }) }}">
                                <button type="button" class="btn btn-danger">
                                    Edit
                                </button>
                            </a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
        {% if app.user %}
            <a href="{{ path('comment_new', { 'id': product.id }) }}">
                <button type="button" class="btn btn-secondary">
                    Add comment
                </button>
            </a>
        {% endif %}
{% endblock %}
