{% extends 'base.html.twig' %}

{% block body %}
<div class="jumbotron">
    <span class="btn btn-info btn-lg btn-block">
        <h1>Currencies list</h1>
    </span>
    <br/>

    <div class="container body-content">
        {% for currency in currencies %}
            <div class="row">
                <div class="container-fluid">
                    <div class="col-md-6">
                        <h1>
                            <span class="badge badge-secondary">{{ currency.name }}</span> - <span class="badge badge-secondary">{{ currency.exchangeRateEUR }} EURO</span>
                        </h1>
                        <a href="{{ path('currency_show', { 'id': currency.id }) }}">
                            <button type="button" class="btn btn-success">
                                Details
                            </button>
                        </a>
                        {% if app.getUser().isAdmin() %}<a href="{{ path('currency_edit', { 'id': currency.id }) }}">
                            <button type="button" class="btn btn-danger">
                                Edit
                            </button></a>
                        {% endif %}
                    </div>
                </div>
            </div><br/>{% endfor %}


    {% if app.getUser().isAdmin() %}
        <a href="{{ path('currency_new') }}">
            <button type="button" class="btn btn-primary">
                Create a new currency
            </button>
        </a>
    {% endif %}
    </div>
</div>

{% endblock %}
