{% extends 'base.html.twig' %}

{% block body %}
<div class="jumbotron">
    <span class="btn btn-info btn-lg btn-block">
        <h1>Add currency</h1>
    </span>
    <br/>

    {{ form_start(form) }}
    <label>Currency:</label>
    <div class="form-group">
        {{ form(form.name) }}
    </div>
    <label>Exchange rate to euro:</label>
    <div class="form-group">
        {{ form(form.exchangeRateEUR) }}
    </div>
    <input type="submit" class="btn btn-primary" value="Create" />
    {{ form_end(form) }}

    <a href="{{ path('currency_index') }}">
        <button type="button" class="btn btn-success">
            Back to the list
        </button>
    </a>
</div>


{% endblock %}
