{% extends 'base.html.twig' %}

{% block body %}
<div class="jumbotron">
        <span class="btn btn-info btn-lg btn-block">
            <h1>Edit comment</h1>
        </span>
    <br/>

    {{ form_start(edit_form, {'attr': {'novalidate': 'novalidate'}}) }}
    <label>Content:</label>
    <div class="form-group">
        {{ form_row(edit_form.content) }}
    </div>
    {{ form_row(edit_form._token) }}
    <input type="submit" class="btn btn-danger" value="Edit" />
    {{ form_end(edit_form) }}
    <br/>
    <a href="{{ path('comment_index') }}">
        <button type="button" class="btn btn-success">
            Show all comments
        </button>
    </a>
    <br/>
</div>
{% endblock %}
