{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
    <span class="btn btn-info btn-lg btn-block">
        <h1>Add setting</h1>
    </span>
        <br/>

        {{ form_start(edit_form, {'attr': {'novalidate': 'novalidate'}}) }}
        <label>Name:</label>
        <div class="form-group">
            {{ form_row(edit_form.name) }}
        </div>
        <label>Quantity:</label>
        <div class="form-group">
            {{ form_row(edit_form.quantity) }}
        </div>
        {{ form_row(edit_form._token) }}
        <input type="submit" class="btn btn-danger" value="Edit" />
        {{ form_end(edit_form) }}
        <br/><br/>
        {{ form_start(delete_form) }}
        <input type="submit" class="btn btn-danger" value="Delete">
        {{ form_end(delete_form) }}
        <br/><br/>
        <a href="{{ path('setting_index') }}">
            <button type="button" class="btn btn-success">
                Show all settings
            </button>
        </a>
    </div>
{% endblock %}
